.ab-container{
    width: 100%;
    display: flex;
    flex: 1;
    color: aliceblue;
}

.ab-left{
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ab-right{
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ab-container > p {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ab-container img{
    width: 30% ;
}

.gc {
    color: rgb(165, 42, 144);
}

.tk {
    color: rgb(42, 165, 56);
}