@charset "utf-8";

/* Google fonts
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
  text-align: center;
  background-color: #282c34;
  /* min-height: 100vh; */
  margin-top: calc(3rem);
  min-height: calc(100vh - (3rem + 3px));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
