
.hm-cards-frame {
    padding: 1.5rem;
    display: grid;
    grid-gap: 2rem;
    margin-inline: auto;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 790px) {
    .hm-cards-frame {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1050px) {
    .hm-cards-frame {
        grid-template-columns: repeat(3, 1fr);
    }
}
