
.hm-cards-frame {
    padding: 1.5rem;
    margin-top: 1rem;
    display: grid;
    grid-gap: 2rem;
    margin-inline: auto;
    grid-template-columns: 1fr;
}

.hm-drop-down {
    border: 3px solid gold;
    background-color: #ffff66;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #009900;
    text-align: center;
}

@media only screen and (min-width: 780px) {
    .hm-cards-frame {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1150px) {
    .hm-cards-frame {
        grid-template-columns: repeat(3, 1fr);
    }
}
