
.hm-cards-frame {
    padding: 1.5rem;
    display: grid;
    grid-gap: 2rem;
    margin-inline: auto;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1050px) {
    .hm-cards-frame {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 620px) {
    .hm-cards-frame {
        grid-template-columns: 1fr;
    }
}