.i-container {
    padding: 0;
    margin: 0;
    width: 100%;
    flex: 1;
    background-color: rgba(0,0,0,.85);
    background-blend-mode: multiply;
    color: wheat;
    /* margin-top: calc(3rem + 8px); */
}

.i-info-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.i-image-container {
    display: none;
}

.i-info-sub-container {
    width: 100%;
    /* border: 1px solid wheat; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
}

.i-info-container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
}

.i-title {
    /* border: 1px solid lime; */
    color: deepskyblue;
    font-weight: bold;
    font-size: 35px;
    margin-right: 2.5rem;
}

.i-thumb {
    /* border: 1px solid blue; */
    font-size: 25px;
    height: 30%;
}

.i-thumb > img {
    height: 100%;
}

.i-titles {
    color: deepskyblue;
    font-weight: bold;
}

.i-movie-plot {
    margin: 0;
    width: 80%;
    line-height: 1.5rem;
}


/* @media only screen and (min-width: 790px) {
    
} */

@media only screen and (min-width: 1150px) {
    .i-container {
        display: flex;
        justify-content: space-between;
    }

    .i-info-container {
        width: 70%;
    }

    .i-image-container {
        display: flex;
    }
    .i-movie-plot {
        margin: 0;
        width: 70%;
        line-height: 2.5rem;
    }
}
